.card{

    margin: 0 auto;
top: 10rem;

box-shadow: 0 0 30px rgb(177, 176, 180);

  

}


.card2{

    margin: 0 auto;
    top: 14rem;
    
    box-shadow: 0 0 30px rgb(177, 176, 180);

  

}















