.card{

    margin: 0 auto;
top: 10rem;
box-shadow: 0 0 90px teal;

}




.carddeck{

    width: 43rem;
    margin-left: auto;
    margin-right: auto;
    width: 80vmax;
    
}


@media only screen and (max-width: 768px) {


    .carddeck{

        width: 20rem;
        margin-left: auto;
        margin-right: auto;
        
        
    }




}















