@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.disabledlink{
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}


@media only screen and (min-width: 769px) {
  .navbar {
    
  top: 2rem;
  margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 100px;
    background: linear-gradient(0deg, #000, #272727);
  
    color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    

   
    float: none;
   
    
    
  }
  
  .navbar:before, .navbar:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  
    
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .navbar:after {
    filter: blur(50px);
  }
  
}
 




.navbar .nav-logo {
 position: relative;
  margin-bottom: 20px;
bottom: 20px;
  
}

.navbar .nav-logo .logo {
  
  
  z-index: 2;
}

.navbar .nav-links ul {
 display:flex;
  margin: 0;
  padding: 0;
  
  
}
@media only screen and (min-width: 769px) {
.navbar .nav-links li {
  list-style: none;
  padding: 1rem;
display: flex;
right: 24rem;

display: inline-flex;
position: relative;


}

.navbar .nav-links li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
 
}
.navbar .nav-links li a:hover{
  text-shadow: 0 0 20px #10bbff;
 text-decoration: underline;
 font-family: 'Roboto', sans-serif;
}

.socialicons{

position: relative;
left: 14rem;
bottom: 55px;
display: inline-flex;
 flex-wrap: wrap;
 
}


.socialicon-item{
  color: #fff;
margin-left: 16px;

}
.socialicon-item:hover{

  color: #10bbff;
  
}


}


.navbar .nav-toggle-btn {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: none;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2000;
   
  }

  .navbar .nav-toggle-btn {
    
    cursor: pointer;
    display: block;
  }

  .navbar .nav-links {
    width: 100%;
    display: flex;
    position: fixed;
    top: -100%;
    
    transition: all 0.5s;
    margin: 4.5rem 0;
    z-index: 1;
  }

  .navbar .nav-links.active {
    background-color: rgba(1, 1, 1, 0.842);
    top: 0;
    opacity: 1;
    transition: all 0.5s;
    align-content: center;
    height: 200px;
    
  }

  .navbar .nav-links ul {
    flex-direction: column;
    width: 100%;
   
    
  }




  .navbar .nav-links li {
    text-align: center;
    padding: 0.4rem 0;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    color: #fff;
    
    
  }

.socialicons{
  position: absolute;
  color: #fff;
  align-items: center;
  align-content: center;
  display: inline-flex;
  top: 155px;
right: 110px;


}
.socialicon-item{
  
  margin-left: 12px;

}





}



