@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);



*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px){

     .container .progresscard {
        margin-top: 2rem;
        position: absolute;
        width:100px;
        display: grid;
        justify-content: center;
        margin-left: auto;
        margin-right: auto; 
       
        
    }

    .container .progresscard{
        position: relative;
        width: 250px;
        background:  #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition:  0.5s;
    
    }
    
    .container .progresscard:hover{
    
        transform: translateY(-10px);
        box-shadow:  0 15px 35px rgba(0,0,0,.5);
    }
    
    .container .progresscard:before{
        content: '';
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .03);
        pointer-events: none;
        z-index: 1;
    
    }
    
    .percent{
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: inset 0 0 50px #000;
        background: #222;
        z-index: 1000;
    }
    
    .percent .number{
    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    
    .percent .number h2{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
    
    
    }
    
    .progresscard:hover .percent .number h2{
        color: #fff;
        font-size: 60px;
    }
    
    .percent .number h2 span{
        font-size: 24px;
        color: #777;
        transition: 0.5s;
    }
    
    .progresscard:hover .percent .number h2 span{
        color: #fff;
        
    }
    
    .text{
        margin-top: 20px;
        position: relative;
        color: #777;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: 0.5s;
    }
    
    .progresscard:hover .text{
    color: #fff;
    
    }
    
    
    .svg1{
    
        position: relative;
        width: 150px;
        height: 150px;
        z-index: 1000;
    }
    
    .svg1 circle{
        width: 100%;
        height: 100%;
        fill: none;
        stroke: #191919;
        stroke-width: 10;
        stroke-linecap: round;
    transform: translate(5px, 5px);
    
    
    }
    
    .svg1 circle:nth-child(2){
    
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    
    
    }
    
    .progresscard:nth-child() .svg1 circle:nth-child(2){
    
        stroke-dashoffset: calc(440 - (440 * 80) / 100);
        stroke: #00ff43;
        
     
        
    }
    
    
    .progresscard:nth-child(2) .svg1 circle:nth-child(2){
    
        stroke-dashoffset: calc(440 - (440 * 60) / 100);
        stroke: #00a1ff;
    
    }
    
    
    .progresscard:nth-child(3) .svg1 circle:nth-child(2){
    
        stroke-dashoffset: calc(440 - (440 * 40) / 100);
        stroke: #00a1ff;
    
    }


}









@media only screen and (min-width: 769px){
.container {
    margin-top: 7rem;
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
    
}








.container .progresscard{
    position: relative;
    width: 250px;
    background:  #000;
display: flex;
justify-content: center;
align-items: center;
height: 300px;
border-radius: 4px;
text-align: center;
overflow: hidden;
transition:  0.5s;

}

.container .progresscard:hover{

    transform: translateY(-10px);
    box-shadow:  0 15px 35px rgba(0,0,0,.5);
}

.container .progresscard:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;

}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.percent .number{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
color: #777;
font-weight: 700;
font-size: 40px;
transition: 0.5s;


}

.progresscard:hover .percent .number h2{
    color: #fff;
    font-size: 60px;
}

.percent .number h2 span{
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}

.progresscard:hover .percent .number h2 span{
    color: #fff;
    
}

.text{
    margin-top: 20px;
    position: relative;
    color: #777;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.progresscard:hover .text{
color: #fff;

}


.svg1{

    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

.svg1 circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
transform: translate(5px, 5px);


}

.svg1 circle:nth-child(2){

stroke-dasharray: 440;
stroke-dashoffset: 440;


}

.progresscard:nth-child(1) .svg1 circle:nth-child(2){

    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #00a1ff;
    
 
    
}


.progresscard:nth-child(2) .svg1 circle:nth-child(2){

    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: #00a1ff;

}


.progresscard:nth-child(3) .svg1 circle:nth-child(2){

    stroke-dashoffset: calc(440 - (440 * 40) / 100);
    stroke: #00a1ff;

}



}